[submodule "static/js/classes/color"]
	path = static/js/classes/color
	url = https://github.com/tsaxking/colors.git
[submodule "static/js/classes/custom-bootstrap"]
	path = static/js/classes/custom-bootstrap
	url = https://github.com/tsaxking/custom-bootstrap.git
[submodule "static/js/classes/canvas"]
	path = static/js/classes/canvas
	url = https://github.com/tsaxking/canvas.git
